@import "colors.scss";

// Top bar

.top-bar {
  display: flex;
  padding-top: 20px !important;
}

.top-bar__item {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}

.top-bar__inputSearch {
  height: 35px;
  width: 181px;
  padding: 5px 37px 5px 15px;
  border-radius: 17px;
  border: solid 1px $greyish-two;
  outline: none;
}

.top-bar__iconSearch {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 1px 0 0 145px;
  padding: 2px;
  object-fit: contain;
  opacity: 0.6;
  cursor: pointer;
}

.top-bar__logo {
  justify-content: center;
}

.top-bar__image {
  cursor: pointer;
  height: 20px;
  padding: 0.3px 0.2px 0.4px 0.5px;
}

.top-bar__utils {
  justify-content: flex-end;
}

// Auth buttons

.auth-buttons {
  display: flex;
}
.auth-buttons__text {
  font-size: 14px;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
}

.auth-buttons__registerBtn {
  width: 70px;
  font-weight: normal;
  font-style: normal;
  color: $greyish-brown;
  background: none;
  border: none;
}

.auth-buttons__loginBtn {
  width: 140px;
  height: 35px;
  border-radius: 100px;
  border: solid 1px $orange-1;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $white;
}
.auth-buttons__loginBtn__text {
  width: 100%;
  font-weight: bold;
  font-style: bold;
  text-align: center;
  color: $orange-2;
}

// Account
.account {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.account__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(61, 61, 63, 0.2);
  border: solid 2px $white;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.account__dropdown {
  display: none;
  background-color: $white-five;
  border: solid 0.5px $white-six;
  position: absolute;
  min-width: 150px;
  z-index: 1;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  padding: 7px 13px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.account__action {
  display: block;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: $greyish-brown !important;
}

.account:hover .account__dropdown {
  display: block;
}

// Button

.button {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  border: none !important;
  outline: none !important;
  &:hover {
    background-color: $orange-3 !important;
  }
}
a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__text {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $white;
}

// Error
.error {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  color: $strawberry;
}

// Login modal
.login-modal__text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: $greyish-brown;
}
.login-modal__label {
  font-size: 12px;
  font-weight: bold;
  color: $dark-grey;
}
.login-modal__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.31;
  text-align: center;
  color: $dark-grey;
}
.login-modal__footer {
  display: flex;
  justify-content: center !important;
  &__text {
    font-weight: 500;
  }
}
.login-modal__password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.login-modal__rememberPassword {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-modal__checkbox {
  margin-right: 6px;
}
.login-modal__link {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: $pumpkin-orange;
  border: solid $pumpkin-orange;
  border-width: 0 0 1px 0;
  margin: 0 4px;
  cursor: pointer;
  &:hover {
    color: $orange-1;
  }
}

.login-modal__forgotPassword {
  font-weight: 600;
  color: $greyish-brown;
}

.login-modal__label_2 {
  margin: 0;
}

.modal-header {
  border: none !important;
  padding-bottom: 0 !important;
}

// Register modal
.register-modal__title {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: $dark-grey;
}
.register-modal__policy {
  text-align: center;
  margin: 40px 80px 50px 80px;
}
.register-modal__footer {
  display: flex;
  justify-content: center !important;
}
.register-modal__link {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: $pumpkin-orange;
  border: solid $pumpkin-orange;
  border-width: 0 0 1px 0;
  margin: 0 4px;
  cursor: pointer;
  &:hover {
    color: $orange-1;
  }
}

// Navbar
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-text {
  text-decoration: "none";
  color: "#000000";
}

// Sort by
.sort-by {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sort-by__choice {
  margin-left: 10px;
}

// Category
.category__tag {
  font-size: 14px;
  color: $greyish-brown;
  padding-bottom: 10px;
}
.category__tag--active {
  color: $orange-2;
}

// Filter
.filter__tag {
  font-size: 14px;
  color: $greyish-brown;
  padding-bottom: 10px;
}
.filter__tag--active {
  color: $orange-2;
}

// Filter Item
.filter-item {
  button {
    text-align: left;
    outline: none;
    background-color: $white;
    padding: 0;
    display: block;
    border-width: 0 0 1px 0;
    &::after {
      content: "▼";
      float: right;
      margin-bottom: 5px;
    }
  }
}
.filter-item__tags {
  padding: 15px 0;
}

// Filter Item Tag

.filter-item-tag {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 6px 5px 5px 10px;
  background-color: $white-grey;
  margin: 3px 0;
}
.filter-item-tag__title--active {
  color: $orange-1;
}

// Pagination
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

// Job item
.job-item {
  padding: 30px 20px;
  border-bottom: 1px solid #ededed;
}
.job-item__name {
  a {
    color: #08c;
    font-size: 16px;
    font-weight: 400;
    line-height: initial;
  }
}

.job-item__category {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  background: #2db964;
  font-weight: 700;
  padding: 0 2px;
  border-radius: 2px;
  margin-left: 4px;
}

.job-item__checkout {
  font-size: 14px;
  background-color: #f5f5f5;
  margin: 20px 0 10px;
  border-radius: 5px;
  padding: 10px 9px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.job-item__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job-item__bookmark {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 1px solid;
  outline: none;
  background-color: $white;
  &:hover {
    background-color: $white_four;
  }
}

.job-item__text {
  color: $greyish;
}

.job_item__overview {
  font-size: 14px;
}

// Job list
.jobs-list {
  background-color: #fdfdfd;
}

// Detail

.detail__title {
  font-size: 30px;
  font-weight: 100;
}

// Project info
.project-info {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 10px;
}

.project-info__title {
  font-size: 17px;
  letter-spacing: -0.03em;
}

.project-info__field {
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-info__avatar img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.project-info__employer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info__employer__name {
  color: $blue-two;
  font-size: 16px;
}
.project-info__employer__jobTitle {
  color: $greyish-one;
  font-size: 16px;
}

a {
  color: $blue-one !important;
  text-decoration: none !important;
  &:hover {
    color: $blue-two !important;
  }
}

// offer form
.offer-form {
  background-color: #f8f8f8;
  padding: 20px 35px;
  margin: 20px 0;
}
.offer-form__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.form-textarea {
  width: 100%;
  min-height: 140px;
  font-size: 14px;
  resize: none;
  border-radius: 4px;
  border: #d4d4d4 solid 1px;
  box-shadow: none;
  padding: 10px;
}

.offer-form__subtitle {
  font-size: 14px;
  font-weight: 600;
}

.offer-form__label {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.offer-form__offer {
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px;
}

.offer__policy {
  font-size: 12px;
}

.offer-form__prettyInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 4px;
  background: #fff;
  label {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 !important;
  }
  input {
    border: none;
  }
}

// Offer List
.offer-list__head {
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 14px;
}

.offer-list__field-value {
  font-weight: bold;
}

.offer-list__head__sec-2 {
  display: flex;
  justify-content: center;
}

// Offer Item
.offer-item {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.offer-item__avatar {
  width: 90px;
  border-radius: 50%;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.offer-item__rating-icon {
  width: 18px;
}

.offer-item__full-name {
  font-size: 20px;
}

.offer-item__job-title {
  font-size: 15px;
  margin-bottom: 20px;
  color: #999999;
  font-style: italic;
}

.offer-item__field {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.offer-item__field-value {
  font-size: 14px;
}

// Employers job item
.employer-job-items {
  background-color: #fafafa;
}
.employer-job-items__title {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $greyish;
}

// Employer job item
.dropdown-item {
  color: #000 !important;
  &:hover {
    color: #000 !important;
  }
}

.table th,
.table td {
  vertical-align: middle !important;
}

// Status
.status {
  border-radius: 12px;
  padding: 5px 6.5px;
  color: $white;
}
.status--pending {
  background-color: $yellow-1;
}
.status--completed {
  background-color: $pea-green;
}
.status--canceled {
  background-color: $strawberry-2;
}
.status--offer {
  background-color: $greyish-brown;
}

// Color item
.color__item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  padding: 2px;
}
.color__item--active {
  border: solid 1px;
}

// Tab bar
.tab-bar {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: #dfdfdf;
    }
    &--active {
      background-color: #d4d4d4;
    }
  }
}

// Review Form
.review-form {
  background-color: #f8f8f8;
  padding: 20px 35px;
  margin: 20px 0;
}

.review-form__title {
  font-size: 18px;
  font-weight: bold;
}

.review-form__label {
  font-size: 14px;
  font-weight: bold;
}

.review-form__rating {
  margin-bottom: 20px;
}

.review-form__btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.review-form__btn {
  margin: 0 5px;
  width: 80px;
}

// Carousel
.my-carousel {
  .my-carousel__item {
    height: 500px;

    img {
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
      -webkit-filter: brightness(50%);
    }
  }
}

// Most Popular Job List
.most-popular-job-list__title {
  text-align: center;
  margin-bottom: 40px;
}

.most-popular-job-list__job-list {
  border: 1px solid gainsboro;
}

.most-popular-job-list__all-jobs-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

// Step
.step__img-wrapper {
  display: flex;
  justify-content: center;
}

.step__img {
  width: 90%;
}

.step__title {
  font-size: 32px;
}

.step__sub-title {
  margin-top: 20px;
  font-size: 18px;
  color: #666666;
}