$greyish-two: #b7b7b7;
$greyish: #acacac;
$greyish-brown: #4d4d4d;
$orange-1: #ffa15f;
$orange-3: #ffa25fa4;
$orange-2: #ff7e24;
$white: #ffffff;
$white-two: #f6f6f6;
$white-three: #ededed;
$white_four: #d4d3d3;
$white-five: #fbfbfb;
$white-six: #eaeaea;
$white-seven: #f9f9f9;
$white-grey: #fafafa;
$dark-grey: #202124;
$dark-grey: #202124;
$brown-grey: #979797;
$purple-blue: #5f6dff;
$pumpkin-orange: #ff7413;
$strawberry: #f63f45;
$strawberry-2: #ff5f6d;
$charcoal-grey: #3d3d3f;
$my-grey: #d6d6d6;
$pea-green: #82bf11;
$yellow-1: #fbba4e;
